# Import Libraries

In [7]:
import numpy as np
import pandas as pd

# Read and Explore Data

In [8]:
df = pd.read_csv('flipkart_clothing_data.csv')
df.head()

,name,company,ideal_for,category,rating,ratings_count,reviews_count,actual_price,discounted_price,discount_percentage
0,Men Printed Round Neck Polyester Green T-Shirt,VeBNoR,men,tshirts,3.9,"28,072","1,686",₹999,₹259,74%
1,Pack of 2 Men Printed Round Neck Polyester Pin...,KAJARU,men,tshirts,3.8,"88,910","4,717","₹1,899",₹359,81%
2,Men Solid Polo Neck Cotton Blend Black T-Shirt,Allen Solly,men,tshirts,4.3,"21,430","1,144","₹1,099",₹736,33%
3,"Men Printed Round Neck Polyester White, Black ...",sti,men,tshirts,3.9,"72,975","5,613",₹999,₹191,80%
4,Pack of 4 Men Solid Round Neck Polyester Black...,VeBNoR,men,tshirts,3.9,"4,335",164,₹999,₹399,60%

In [9]:
df.columns

Index(['name', 'company', 'ideal_for', 'category', 'rating', 'ratings_count',
       'reviews_count', 'actual_price', 'discounted_price',
       'discount_percentage'],
      dtype='object')

In [10]:
df.shape

(2028, 10)

In [11]:
df.dtypes

name                   object
company                object
ideal_for              object
category               object
rating                 object
ratings_count          object
reviews_count          object
actual_price           object
discounted_price       object
discount_percentage    object
dtype: object

In [12]:
df.isnull().sum()

name                   0
company                0
ideal_for              0
category               0
rating                 0
ratings_count          0
reviews_count          0
actual_price           0
discounted_price       0
discount_percentage    0
dtype: int64

In [13]:
for col in df.columns:
    print(col, len(df[df[col]=='Unknown']))

name 3
company 3
ideal_for 0
category 0
rating 240
ratings_count 216
reviews_count 216
actual_price 50
discounted_price 8
discount_percentage 55

# Pre-Processing

In [14]:
df[df['name']=='Unknown']

,name,company,ideal_for,category,rating,ratings_count,reviews_count,actual_price,discounted_price,discount_percentage
843,Unknown,Unknown,men,sweatshirts,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1264,Unknown,Unknown,women,shoes,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1557,Unknown,Unknown,women,trousers,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown

In [15]:
df = df[df['name']!='Unknown']

In [16]:
len(df[(df['rating']=='Unknown') & (df['ratings_count']!='Unknown') & (df['reviews_count']!='Unknown')])

24

In [17]:
df = df[~((df['rating']=='Unknown') & (df['ratings_count']!='Unknown') & (df['reviews_count']!='Unknown'))]

In [18]:
# cols = ['rating', 'ratings_count', 'reviews_count']

# for col in cols:
#     df[col] = df[col].apply(lambda x: x.replace('Unknown', 'null'))

In [19]:
for col in df.columns:
    print(col, len(df[df[col]=='Unknown']))

name 0
company 0
ideal_for 0
category 0
rating 213
ratings_count 213
reviews_count 213
actual_price 42
discounted_price 0
discount_percentage 47

In [20]:
df.shape

(2001, 10)

In [21]:
temp_df = df[(df['actual_price']=='Unknown') & (df['discount_percentage']=='Unknown')]
len(temp_df)

42

In [22]:
for index in temp_df.index:
    df.loc[index, 'discount_percentage'] = '0'
    df.loc[index, 'actual_price'] = df.loc[index, 'discounted_price']

In [23]:
for col in df.columns:
    print(col, len(df[df[col]=='Unknown']))

name 0
company 0
ideal_for 0
category 0
rating 213
ratings_count 213
reviews_count 213
actual_price 0
discounted_price 0
discount_percentage 5

In [24]:
df[df['discount_percentage']=='Unknown']

,name,company,ideal_for,category,rating,ratings_count,reviews_count,actual_price,discounted_price,discount_percentage
631,Solid Men Black Sports Shorts,TECHNOSPORT,men,shorts,4,716,31,₹449,₹448,Unknown
796,Men Solid Black Track Pants,TECHNOSPORT,men,trackpants,4.2,968,65,₹749,₹748,Unknown
811,Men Self Design Black Track Pants,TECHNOSPORT,men,trackpants,3.9,"1,282",62,₹549,₹548,Unknown
1157,"Bellies For Women (Brown , 4)",Bata,women,shoes,4.1,"5,098",448,₹299,₹298,Unknown
1482,Women Straight Fit Black Viscose Rayon Trousers,Lervise,women,trousers,Unknown,Unknown,Unknown,₹300,₹299,Unknown

In [25]:
df['discount_percentage'] = df['discount_percentage'].replace('Unknown', '1%')

In [26]:
for col in df.columns:
    print(col, len(df[df[col]=='Unknown']))

name 0
company 0
ideal_for 0
category 0
rating 213
ratings_count 213
reviews_count 213
actual_price 0
discounted_price 0
discount_percentage 0

In [27]:
df.head()

,name,company,ideal_for,category,rating,ratings_count,reviews_count,actual_price,discounted_price,discount_percentage
0,Men Printed Round Neck Polyester Green T-Shirt,VeBNoR,men,tshirts,3.9,"28,072","1,686",₹999,₹259,74%
1,Pack of 2 Men Printed Round Neck Polyester Pin...,KAJARU,men,tshirts,3.8,"88,910","4,717","₹1,899",₹359,81%
2,Men Solid Polo Neck Cotton Blend Black T-Shirt,Allen Solly,men,tshirts,4.3,"21,430","1,144","₹1,099",₹736,33%
3,"Men Printed Round Neck Polyester White, Black ...",sti,men,tshirts,3.9,"72,975","5,613",₹999,₹191,80%
4,Pack of 4 Men Solid Round Neck Polyester Black...,VeBNoR,men,tshirts,3.9,"4,335",164,₹999,₹399,60%

In [28]:
df['ratings_count'] = df['ratings_count'].str.replace(',', '')
df['reviews_count'] = df['reviews_count'].str.replace(',', '')

In [29]:
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')

In [30]:
df['ratings_count'] = pd.to_numeric(df['ratings_count'], errors='coerce')
df['reviews_count'] = pd.to_numeric(df['reviews_count'], errors='coerce')

In [31]:
df.head()

,name,company,ideal_for,category,rating,ratings_count,reviews_count,actual_price,discounted_price,discount_percentage
0,Men Printed Round Neck Polyester Green T-Shirt,VeBNoR,men,tshirts,3.9,28072.0,1686.0,₹999,₹259,74%
1,Pack of 2 Men Printed Round Neck Polyester Pin...,KAJARU,men,tshirts,3.8,88910.0,4717.0,"₹1,899",₹359,81%
2,Men Solid Polo Neck Cotton Blend Black T-Shirt,Allen Solly,men,tshirts,4.3,21430.0,1144.0,"₹1,099",₹736,33%
3,"Men Printed Round Neck Polyester White, Black ...",sti,men,tshirts,3.9,72975.0,5613.0,₹999,₹191,80%
4,Pack of 4 Men Solid Round Neck Polyester Black...,VeBNoR,men,tshirts,3.9,4335.0,164.0,₹999,₹399,60%

In [32]:
df.isnull().sum()

name                     0
company                  0
ideal_for                0
category                 0
rating                 213
ratings_count          213
reviews_count          213
actual_price             0
discounted_price         0
discount_percentage      0
dtype: int64

In [33]:
df['actual_price'] = df['actual_price'].str.replace('₹', '')
df['discounted_price'] = df['discounted_price'].str.replace('₹', '')
df['discount_percentage'] = df['discount_percentage'].str.replace('%', '')

In [34]:
df.head()

,name,company,ideal_for,category,rating,ratings_count,reviews_count,actual_price,discounted_price,discount_percentage
0,Men Printed Round Neck Polyester Green T-Shirt,VeBNoR,men,tshirts,3.9,28072.0,1686.0,999,259,74
1,Pack of 2 Men Printed Round Neck Polyester Pin...,KAJARU,men,tshirts,3.8,88910.0,4717.0,"1,899",359,81
2,Men Solid Polo Neck Cotton Blend Black T-Shirt,Allen Solly,men,tshirts,4.3,21430.0,1144.0,"1,099",736,33
3,"Men Printed Round Neck Polyester White, Black ...",sti,men,tshirts,3.9,72975.0,5613.0,999,191,80
4,Pack of 4 Men Solid Round Neck Polyester Black...,VeBNoR,men,tshirts,3.9,4335.0,164.0,999,399,60

In [35]:
df['actual_price'] = df['actual_price'].str.replace(',', '')
df['discounted_price'] = df['discounted_price'].str.replace(',', '')
df['discount_percentage'] = df['discount_percentage'].str.replace(',', '')

In [36]:
df['actual_price'] = pd.to_numeric(df['actual_price'], errors='coerce')
df['discounted_price'] = pd.to_numeric(df['discounted_price'], errors='coerce')
df['discount_percentage'] = pd.to_numeric(df['discount_percentage'], errors='coerce')

In [37]:
df['company'][0]

'VeBNoR\xa0'

In [38]:
print(df['company'][0])

VeBNoR

In [39]:
df['company'][0].replace('\xa0','')

'VeBNoR'

In [40]:
df['company'] = df['company'].str.replace('\xa0','')

In [41]:
df['name'] = df['name'].str.replace('\xa0\xa0','')

In [42]:
df.dtypes

name                    object
company                 object
ideal_for               object
category                object
rating                 float64
ratings_count          float64
reviews_count          float64
actual_price             int64
discounted_price         int64
discount_percentage      int64
dtype: object

# Save Dataset as a CSV file.

In [43]:
# df.to_csv('final_flipkart_clothing_data.csv', index=False)

In [44]:
# df.isnull().sum()